mixin b-catalogue(data)
	+b.catalogue
		+b-menu(data.menu)
		+e.collection.grid
			each img in data.pics
				+e.link(href="#" class=img.isotopeClass)
					+e('img').picture.grid-item(class=img.size alt="picture_" + img.num src=asset(img.href))
					+e('div').text
						h6 #{img.area}
						h3 #{img.title}
						|_____
//- catalogue data
-
	var catData =
	{
		menu: 
		[
			{
				id: "all",
				class: "active",
				href: "#",
				text: "все"
			},
			{
				id: "sea",
				class: "",
				href: "#",
				text: "море"
			},
			{
				id: "business",
				class: "",
				href: "#",
				text: "бизнес"
			},
			{
				id: "cars",
				class: "",
				href: "#",
				text: "автомобили"
			},
			{
				id: "wedding",
				class: "",
				href: "#",
				text: "свадьба"
			},
			{
				id: "restaurants",
				class: "",
				href: "#",
				text: "рестораны"
			},
			{
				id: "cities",
				class: "",
				href: "#",
				text: "города"
			},

		],
		myMenu: ["все", "море", "бизнес", "автомобили", "свадьба", "рестораны"],
		pics: 
		[
			{
				isotopeClass: "cars", 
				num: "01",
				href: "i/catalogue/vw_1.jpg",
				area: "автомобили",
				title: "volkswagen festival",
				size: "catalogue__picture_sm"
			},
			{
				isotopeClass: "business", 
				num: "02",
				href: "i/catalogue/umf.jpg",
				area: "бизнес",
				title: "ukrainian medical festival",
				size: "catalogue__picture_sm"
			},
			{
				isotopeClass: "restaurants", 
				num: "03",
				href: "i/catalogue/beef_wine.jpg",
				area: "рестораны",
				title: "beef мясо & вино restaurant",
				size: "catalogue__picture_sm"
			},
			{
				isotopeClass: "wedding", 
				num: "04",
				href: "i/catalogue/engagement.jpg",
				area: "свадьба",
				title: "обручальный момент",
				size: "catalogue__picture_sm"
			},
			{
				isotopeClass: "cities", 
				num: "05",
				href: "i/catalogue/golden_gate_br.jpg",
				area: "город",
				title: "golden gate",
				size: "catalogue__picture_md"
			},
			{
				isotopeClass: "cars", 
				num: "06",
				href: "i/catalogue/vw_2.jpg",
				area: "автомобили",
				title: "volkswagen festival",
				size: "catalogue__picture_sm"
			},
			{
				isotopeClass: "cars", 
				num: "07",
				href: "i/catalogue/vw_3.jpg",
				area: "автомобили",
				title: "volkswagen festival",
				size: "catalogue__picture_sm"
			},
			{
				isotopeClass: "business", 
				num: "08",
				href: "i/catalogue/guys_work.jpg",
				area: "бизнес",
				title: "ребята и работа",
				size: "catalogue__picture_sm"
			},
			{
				isotopeClass: "cities", 
				num: "09",
				href: "i/catalogue/budapest.jpg",
				area: "города",
				title: "budapest",
				size: "catalogue__picture_sm"
			},
			{
				isotopeClass: "", 
				num: "10",
				href: "i/catalogue/desert.jpg",
				area: "категория",
				title: "пустынная пустыня",
				size: "catalogue__picture_sm"
			},
			{
				isotopeClass: "cities", 
				num: "11",
				href: "i/catalogue/nyc.jpg",
				area: "города",
				title: "new york city",
				size: "catalogue__picture_md"
			},
			{
				isotopeClass: "", 
				num: "12",
				href: "i/catalogue/white_palace.jpg",
				area: "архитектура",
				title: "белый дворец",
				size: "catalogue__picture_md"
			},
			{
				isotopeClass: "cities", 
				num: "13",
				href: "i/catalogue/brick_house.jpg",
				area: "город",
				title: "красный дом",
				size: "catalogue__picture_sm"
			},
			{
				isotopeClass: "business", 
				num: "14",
				href: "i/catalogue/laptop_desk.jpg",
				area: "бизнес",
				title: "ноут, стол, стул",
				size: "catalogue__picture_sm"
			},
			{
				isotopeClass: "cars", 
				num: "15",
				href: "i/catalogue/vw_4_p.jpg",
				area: "автомобили",
				title: "volkswagen festival",
				size: "catalogue__picture_md"
			},
			{
				isotopeClass: "business", 
				num: "16",
				href: "i/catalogue/shoes_foot.jpeg",
				area: "бизнес",
				title: "ноги и туфли мужика",
				size: "catalogue__picture_sm"
			},
			{
				isotopeClass: "sea", 
				num: "17",
				href: "i/catalogue/wave.jpg",
				area: "море",
				title: "набегающая волна",
				size: "catalogue__picture_sm"
			}
		]
	}