mixin b-catalogue(catMenu, pics)
	+b.catalogue
		+b-menu(catMenu)
		+e.collection.grid
			each img in pics
				+e.link(href="#" class=img.isotopeClass)
					+e('picture')
						+e('source')(srcset=asset(img.sm) media="(max-width: 480px)")
						+e('img').picture.grid-item(class=img.size alt="picture_" + img.num src=asset(img.reg))
					+e('div').text
						h6 #{img.area}
						h3 #{img.title}
						|_____