mixin b-mainGallery(data)
	+b.main-gallery
		+e.header
			+e("h4").counter= data.current 
			+e("h1").title= data.title 
			+e("p").description= data.description 
			+e("p").total= data.total  
		+e.collection.grid
			each picture in data.pictures 
				+e("a").link(href="#")
					+e("picture")
						+e("source")(srcset=asset(picture.imgSm) media="(max-width: 480px)")
						+e("img").picture.grid-item(class=picture.class src=asset(picture.imgReg))
					if picture.text
						+e("div").text
							h6 #{picture.text.area}
							h3 #{picture.text.title}
							p #{picture.text.description}
							|_____
		+e("a").btn(href="./gallery.html")= data.btn