extends root

block meta
	meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")

block styles
	link(href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet")
	link(link rel="stylesheet" type="text/css" href=asset("slick/slick.css"))
	link(link rel="stylesheet" type="text/css" href=asset("slick/slick-theme.css"))
	//- Work with this link
	//- link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css")
	//- Work with this link
	link(rel="stylesheet" href=asset("styles.css"))

block scripts
	//- script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
	script(src="https://code.jquery.com/jquery-3.3.1.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js")
	script(type="text/javascript" src=asset("slick/slick.min.js"))

	//- Work with this link
	//- script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js")
	//- Work with this link

	//- script(src=asset("main.js"))
	script(src=asset("vendor.js"))
	script(src=asset("app.bundle.js"))

block main
	block content